<!DOCTYPE html>
<html>
  <head>
    <title>FilmArchive</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>　
  <% if notice.present? %>
      <aside>
        <%= notice %>
      </aside>
  <% end %>
  <% if alert.present? %>
      <aside>
        <%= alert %>
      </aside>
  <% end %>
  <%= yield %>
  </body>
</html>
